{% extends "base.html" %}
{% block   title %}contacts{% endblock %}
{% block  content%}


<div class="container mx-auto flex justify-center items-center h-full">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 max-w-6xl">
        <div class="flex flex-col items-center mb-8">
            <h1 class="text-2xl font-bold mb-4">{{ item.name }}</h1>
            <img src="{{ item.image.url }}" alt="{{ item.name }}" class="mb-4" style="width: 300px; height: 300px; object-fit: cover">
            <p class="text-gray-600">{{ item.description }}</p>
            <p class="text-green-600 font-bold">{{ item.price }}</p>
            <!-- HTML -->
<a href="{% url 'edit' item.id %}" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-blue-500 transition duration-300 ease-in-out">Edit Item</a>
<a href="{% url 'comment'  item.id %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-500 transition duration-300 ease-in-out"><button>Leave a Comment</button></a>
        </div>
        <!-- Add more grid items if needed for additional details -->
    </div>
</div>
<h2>{{ item.name }}</h2>

<!-- Display existing comments -->
<div>
    <h3>Comments:</h3>
    {% for comment in comments %}
        <p>{{ comment.user.username }} - {{ comment.timestamp }}<br>{{ comment.text }}</p>
    {% endfor %}
</div>

{%  endblock %}
