

{% extends "base.html" %}
{% block   title %}contacts{% endblock %}
{% block  content%}

<div class="flex-grow container mx-auto my-8 text-center">

    <!-- Categories as rows -->
    <div class="mb-8">
        <h2 class="text-4xl font-bold mb-4">Categories</h2>
        <div class="flex justify-center space-x-4">
            {% for category in categories %}
                <a href="{% url 'category' category.id %}" class="text-black hover:text-gray-300">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>

    <!-- Items as independent grid -->
    <h2 class="text-4xl font-bold mb-4">The Newest Items</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for item in items %}
            <div class="bg-gray-100 p-4 shadow-md">
                <img src="{{ item.image.url }}" alt="{{ item.name }}" class="mb-4" style="width: auto ; height: 200px ;  object-fit: cover">
                <a href="{% url 'detail' item.id %}" class="text-lg font-semibold" style="color: black;">
                    {{ item.name }}
                </a>
                <p class="text-gray-600">{{ item.description }}</p>
                <p class="text-green-600 font-bold">{{ item.price }}</p>
            </div>
        {% endfor %}
    </div>

</div>
{%  endblock %}
