{% extends "base.html" %}
{% block   title %}welcome to  commerce{% endblock %}
{% block  content%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <title>Your Website Title</title>
</head>
<body class="flex items-center justify-center h-screen bg-gray-100">

  <div class="text-center">
    <h2 class="text-4xl font-bold mb-8 uppercase">This is the Home Page</h2>

    <a href="{% url 'item' %}" class="text-lg font-semibold text-indigo-700 hover:text-indigo-900">
      See Items
    </a>

    <a href="{% url 'item_search' %}" class="text-lg font-semibold text-indigo-700 hover:text-indigo-900 block my-4">
      Find Items
    </a>

    <a href="{% url 'dashboard' %}" class="text-lg font-semibold text-indigo-700 hover:text-indigo-900">
      Your Dashboard
    </a>
  </div>

</body>
</html>


{%  endblock %}