{% extends "base.html" %}
{% block   title %}sign  up{% endblock %}
{% block  content%}
<div class="bg-white p-8 rounded shadow-md w-300 h-400">
    <h2 class="text-2xl font-bold mb-4">User Registration</h2>

    <form method="post" action=".">
        {% csrf_token %}

        <!-- Display form errors if any -->
        {% if form.errors %}
            <p class="text-red-500 mb-4">Please correct the errors below.</p>
        {% endif %}

        <!-- Username field -->
        <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-gray-600 mb-1">Username:</label>
        {{ form.username }}
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-gray-600 mb-1">email:</label>
        {{ form.email}}
        {{ form.username.errors }}

        <!-- Password fields -->
        <label for="{{ form.password1.id_for_label }}" class="block text-sm font-medium text-gray-600 mb-1">Password:</label>
        {{ form.password1 }}
        {{ form.password1.errors }}

        <label for="{{ form.password2.id_for_label }}" class="block text-sm font-medium text-gray-600 mb-1">Confirm Password:</label>
        {{ form.password2 }}
        {{ form.password2.errors }}

        <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded-full mt-4 w-full">Sign Up</button>
    </form>
</div>
    
{%  endblock %}